/* 页脚与头图透明 */
#footer {
	background: transparent !important;
  }
  #page-header {
	background: transparent !important;
  }
  /* 白天模式遮罩透明 */
  #footer::before {
	background: transparent !important;
  }
  #page-header::before {
	background: transparent !important;
  }
  /* 夜间模式遮罩透明 */
  [data-theme="dark"] #footer::before {
	background: transparent !important;
  }
  [data-theme="dark"] #page-header::before {
	background: transparent !important;
  }

  @font-face {
    /* 为载入的字体取名字(随意) */
    font-family: 'ZhuZi';
    /* 字体文件地址(相对或者绝对路径都可以) */
    src: url(/font/main.ttf);
    /* 定义加粗样式(加粗多少) */
    font-weight: normal;
    /* 定义字体样式(斜体/非斜体) */
    font-style: normal;
    /* 定义显示样式 */
    font-display: block;
  }
  #nav *::after{
    background-color: transparent!important;
  }
  #nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
  }

  :root {
  --trans-light: rgba(255, 255, 255, 0.88);
  --trans-dark: rgba(25, 25, 25, 0.88);
  --border-style: 1px solid rgb(169, 169, 169);
  --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 13px;
  border: var(--border-style);
  height: 17em;
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 10px;
  border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border: var(--border-style);
  border-radius: 13px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}


/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}

:root {
	--trans-light: rgba(255, 255, 255, 0.88);
	--trans-dark: rgba(25, 25, 25, 0.88);
	--border-style: 1px solid rgb(169, 169, 169);
	--backdrop-filter: blur(5px) saturate(150%);
  }
  /* 首页文章卡片 */
  #recent-posts > .recent-post-item {
	background: var(--trans-light);
	backdrop-filter: var(--backdrop-filter);
	border-radius: 13px;
	border: var(--border-style);
	height: 17em;
  }
  /* 首页侧栏卡片 */
  #aside-content .card-widget {
	background: var(--trans-light);
	backdrop-filter: var(--backdrop-filter);
	border-radius: 18px;
	border: var(--border-style);
  }
  /* 文章页、归档页、普通页面 */
  div#post,
  div#page,
  div#archive {
	background: var(--trans-light);
	backdrop-filter: var(--backdrop-filter);
	border: var(--border-style);
	border-radius: 20px;
  }
  /* 导航栏 */
  #page-header.nav-fixed #nav {
	background: rgba(255, 255, 255, 0.75);
	backdrop-filter: var(--backdrop-filter);
  }
  [data-theme="dark"] #page-header.nav-fixed #nav {
	background: rgba(0, 0, 0, 0.7) !important;
  }
  /* 夜间模式遮罩 */
  [data-theme="dark"] #recent-posts > .recent-post-item,
  [data-theme="dark"] #aside-content .card-widget,
  [data-theme="dark"] div#post,
  [data-theme="dark"] div#archive,
  [data-theme="dark"] div#page {
	background: var(--trans-dark);
  }
  /* 夜间模式页脚页头遮罩透明 */
  [data-theme="dark"] #footer::before {
	background: transparent !important;
  }
  [data-theme="dark"] #page-header::before {
	background: transparent !important;
  }
  /* 阅读模式 */
  .read-mode #aside-content .card-widget {
	background: rgba(158, 204, 171, 0.5) !important;
  }
  .read-mode div#post {
	background: rgba(158, 204, 171, 0.5) !important;
  }
  /* 夜间模式下的阅读模式 */
  [data-theme="dark"] .read-mode #aside-content .card-widget {
	background: rgba(25, 25, 25, 0.9) !important;
	color: #ffffff;
  }
  [data-theme="dark"] .read-mode div#post {
	background: rgba(25, 25, 25, 0.9) !important;
	color: #ffffff;
  }

  #recent-posts > .recent-post-item:not(:first-child) {
    margin-top: 15px;
}


/* 标签 */

#aside-content .card-tag-cloud a {
  border: 1px solid;
  line-height: 1.5;
  border-radius: 6px;
  margin: 3px;
  padding: 0 5px;
}

.tag-cloud-list a {
  border: 1px solid;
  line-height: 1.5;
  border-radius: 6px;
  padding: 5px 15px;
  font-size: 1.2rem;
  margin: 5px;
}

.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  margin: 0 auto;
  padding: 40px 15px;
  max-width: 1400px;
  width: 100%;
}

.layout > div:first-child {
  width: 90%;
  transition: all 0.3s ease 0s;
}
.layout.hide-aside {
  max-width: 1200px;
}



